.col-md-1 {
    display: inline-flex;
}

.btn-light {
    width: 10%;
    border-radius: 50px;
    border: 3px #f89e6e solid;
    color: #f46110;
    height: 46px;
    background-color: white;
    font-weight: bold;
}

.btn-light:hover, .btn-light:focus:hover {
    background-color: #f46110;
    color: white;
    font-weight: bold;
}


.btn-light:focus {
    border-radius: 50px;
    border: 3px #f89e6e solid;
    color: #f46110;
    height: 46px;
    background-color: white;
    font-weight: bold;
}

.input-group-prepend button {
    border: none;
}

.filter {
    display: inline-flex;
}

p {
    padding: 10px;
}

.table {
    text-align: center;
}

.text-green {
    color: green;
    font-weight: bold;
}

.text-red {
    color: red;
    font-weight: bold;
}

.trclick {
    cursor: pointer;
}

tbody :hover {
    background-color: lightblue;
}

tbody tr ::after :hover {
    background-color: grey;
}

.col-md-4 .button .btn {
    width: 20%;
    float: right;
    margin: 15px;
}

.detailbody {
    background-color: #EAE5E5;
    padding: 20px;
}

.machineborder {
    padding: 10px;
}