#root header {
  background-color: #2f2f2f;
  
}
#root header .title {
  color:#ffcc00;
}
.css-i9gxme button {
  margin: 5px;
  
  background-color: #ffcc00;
}
.css-i9gxme button:hover{
  background-color: #009b4d;
}
.css-i9gxme button a:hover {
  color: white;
  
}