.head {
  padding: 20px;
  border-bottom: 1px black;
  text-align: center;
}

.modal-content{
 
  border-radius: 40px;
}
.modal-header{
  color: white;
  background-color: #F46110;
  border-radius: 40px 40px 0 0;
}
.modal-body {
  border: none;
}

.modal-footer {
  display: inline-flex;
}

label {
  font-size: large;
  color: black;
}
.card{
  font-weight: bold;
}
.card-header {
  background-color: #F46110;
  color: black;
}

.outbox .card-body {
  background-color: #FEF2EB;
  color: black;
}

.btn {
  width: 80%;
  border: none;
}

h2 {
  text-align: center;
  padding: 10px;
}

h6 {
  font-size: small;
  color: red;
  display: block;
}

.pass-wrapper {
  position: relative;
  display: flex;
}

.pass-wrapper i {
  position: absolute;
  top: 6%;
  right: 6%;
}

i:hover {
  color: #F46110;
  cursor: pointer;
}
.pass-wrapper input{
  width: 100%;
  height: fit-content;
  border-radius: 5px;
}