.card-registration .select-arrow {
    top: 13px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #F3920F;

    /* Chrome 10-25, Safari 5.1-6 */
    background: #F3920F;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #d6ecf5;

}

.bg-indigo {
    background: #F3920F;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

label {
    font-weight: 600;
}

.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
}

i {
    position: absolute;
    top: 28%;
    right: 5%;
}

i:hover {
    color: #ff7300;
    cursor: pointer;
}

#term {
    font-weight: bold;
    text-decoration: underline;
}

.form-check .form-check-label a:hover {
    color: white;
    cursor: pointer;
}