<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome. This is the manage users page.</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:if="${session.curUser == null}">Not Logged In</div>
<div th:unless="${session.curUser == null}">
  <span>[[${session.curUser.getEmail()}]] </span>
  <a th:href="@{/logout}">Logout</a>
</div>


<div class="container-fluid text-center">
  <div><h2>Manage user.</h2></div>
  <div>
    <a class="h4" th:href="@{/users/new}">Add new User</a>
  </div>

  <div th:if="${message}" class="alert alert-success">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered table-striped table-dark">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Mail</th>
          <th>Enabled</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each = "user : ${listUsers}">
          <tr>
            <td>[[${user.id}]]</td>
            <td>[[${user.fullName}]]</td>
            <td>[[${user.email}]]</td>
            <td>[[${user.enabled}]]</td>
            <td>
              <a class="link-primary" th:href="@{'/users/edit/'+ ${user.id}}">Edit</a>
              <a class="link-danger" th:href="@{'/users/delete/'+ ${user.id}}">Delete</a>
            </td>
          </tr>
        </th:block>
      </tbody>
    </table>

  </div>

</div>
</body>
</html>